@model StatNav.WebApplication.Models.MarketingAssetPackageVM
@{
    ViewBag.Title = "Details";
}

<h4>Marketing Asset Package Details</h4>

<partial name="_detail" model="Model"/>
<a asp-controller="MarketingAssetPackage" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-controller="MarketingAssetPackage" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
<a asp-controller="MarketingAssetPackage" asp-action="Index">Back to List</a>