@model StatNav.WebApplication.Models.UXExperimentsVM
@{
    ViewBag.Title = "Details";
}

<h4>UX Experiments Details</h4>

<partial name="_detail" model="Model" />
<a asp-controller="UXExperiments" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-controller="UXExperiments" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
<a asp-controller="UXExperiments" asp-action="Index">Back to List</a>