@using Antlr4.Runtime.Tree
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Welcome to StatNav.
        </p>
        <p>
            This application is currently in closed alpha testing.  If you would like to find out more and register for early access to the application in beta test, please register your email here:<a href="https://statnav.mailchimpsites.com/home" target="_blank" rel="noopener noreferrer"> https://statnav.mailchimpsites.com/home</a>
        </p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>