<th scope="col">
    <a asp-controller="Variant"
       asp-action="Index" asp-route-sortOrder="@ViewBag.IdSortParm">ID <span class="glyphicon glyphicon-sort"></span></a>    
</th>
<th scope="col">
    <a asp-controller="Variant"
       asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm">Variant Name <span class="glyphicon glyphicon-sort"></span></a>    
</th>
